body {
  font-family: Helvetica, Arial, sans-serif;
}
h1 {
  color: #272142;
  font-size: 38px;
  font-weight: 700;
  text-align: left;
  line-height: 28px;
}

ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  color: rgba(39, 33, 66, 0.4);
  text-transform: capitalize;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.weather-app {
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 20px;
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-right: 5px;
  height: 80px;
  width: 80px;
}

.weather-temperature strong {
  color: rgb(35, 35, 35);
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.float-left {
  float: left;
}
